<section style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap:20px;">
  <article>
    <!-- Distance (km) -->
    <iframe height="400px" width="100%" src="https://graphjson.com/embed?p=aU2FsdGVkX19NDYbETCnc1BC0vKxAqS8I%2FqcYa%2FswmekugoHdmXdhXD4LCatrHIrhv1%2FB1yUBT2flQ8H%2F64IS1DHU5K6TqqCuNsyV%2FKPclmgAl5v1ciYoRLvsAjOvhAVN8NotQAWge1BngfuhlLnRXaH5MrRjDRDN8utoMnLpGWRGVcy2N8Ob2JRwINVW%2BZsr%2FzZc0fM7dR%2Fqu05Fx9grZCtvV3rLZ4BZd%2BFQ5TJS%2BuLOq4eTdQtRGUkktVZBesqEtPHMda%2BSpBaJd7kL4D4i2PJ0eq5vy%2Fu9PW4rWczXWbA6Awr64sitipN3RmxP8UMXzeJKRfwS%2BupKgUF9Lt041D%2BZ9I5CYXk2ayp1CWbG9Y1lQ4bpnC6tWTaCyjguFtKt3bJF11exIOkiCoHK7kqbyEN9NnykO8%2BvtIISIZ2LBuer9WsVKLqtiCQMcbjXpH%2BSTblS3bsUnQRlqTW7PF9dhHHzI5xDB46cMAAKoT%2FDlAHx1L%2BgKxhaIG%2BltdRMv59L0BLZCx5ltoohA4NCkizDWnNZLIKtgxtq6pSXAVaoL5vmAKSEoU84%2FpHpBfPKTeEKe9Zu48SXkuQWTZKaqhHnxCJkSzjwDtLpoxsZx1EMdAnet3mKjz4XY559gltv4YcRCcjmIo9HvguMfHcbFsyZOKgCOom8swYc%2FHpVVHib009K3fFngd2bPTJMh6ww7YAWmRC%2BZW%2BacMm9QwZYeDZz9Mc7Tz0nk6asZrVGKbcpRqHucQ0LkZcLCXB7PGlFjsry"></iframe>
  </article>
  <article>
    <!-- Duration (s) -->
    <iframe height="400px" width="100%" src="https://graphjson.com/embed?p=aU2FsdGVkX1%2F73FGXazKMcxf8xVs61b9%2B3k8%2BOfXyV9hLHwsvdKpJYOiD%2FMaZ025BMQjDrh2b98uh3be%2BXH6EZzWUN9YkcS3IBDImDH2fgrmXym%2F%2FK79WkQh0REgSOrwZNN9Adpud1rklZg548sEFdyocfwayn3XlYDwcM1QiIz%2FM1xtSMPktkwaA3AdH51DPFqcujMPXGNVVrZwf8mBhrlrQWYf4RDmEPdaE7dVo5oYhbDLoDLR2NCIvHLBYUpmIyxp0EPI9sUml0Np2CwI18qUuJ5mgYjkPcFi7pT5BEngRbQeLm4AgeOJ2h6ocxzpsaQkdJLa8qtiAZXoX%2Bv4Dxnm%2BXC%2BgaXkLrSEtRYI4LY9jRJNp7F5GwoXJqdcBs1qeiyoGm4f6rgPdispNJtcVWJPpWVzt4mAEt4JsRcOrBpeMrG9KxQchO5R7phgHJyffHDkB100hRSzQSP7fCSMtuUygxIZiIIMjfJSyJThlZh6AG%2FaXHN9ktgB9uWqpK63Edf7GZL3s7zjg4BTsxdwWFRq0gbch%2BBVoznFn%2ForwnVmO4QT5u73vTLqXb5Md0KR9OQw%2BbSgCUg71T130FCWm0zmsoPJvTMBnyuV%2F8XzvbK5zyG1gSvlzUl3nizgHm%2BtM6DZA01xKNvVDuYIQZc8V6OOIZbVQ2vhKJ%2BSCT6SyfUuxRgfEJF97SGZFDpaHPzUmNCjuHzdP6icbIDMgKS7mDpjdrQfy1pcvBnS0cLpZki8s1gpUGAm1%2F1FslKJC6V9zB6AjOQE7YLNlSP93zKPo0w%3D%3D"></iframe>
  </article>
  <article>
    <!-- Avg HR -->
    <iframe height="400px" width="100%" src= "https://graphjson.com/embed?p=aU2FsdGVkX198eJmN2HMAwIp5PIVjWNVt%2FSqwsVVrDwCbRXT%2BSas9d%2FOHhlwe4bLYGfOyCRlwI5ail9JM%2F0kn4fEoKoQ%2BdaCrQ4CWAO%2B3G0oktOlo%2BJT5nwOcD7Df3BBQHQ2NfKZIYKWJqBfiZGKLA1No0EaQuFJEb52naZAXZrBTxcH1UBlqHEIUkypgzp4oD2ZC6fYvJoES47EjpkNQ6VIm2NjmQWm6bTDysHlpmX3ddTzEPUi7%2FPcXJGJvyp6sNaWM4%2FhmPTs6h4FvarPGVcblddN5hjNTnllIHgJqfhc4fxO3UjTZG5V9%2Bj8nx%2FxfhqvKLqgy5jdeVDMqX8mitObSlK5Y3Ez0sZ00mz3PwcdYgyQu2jqgf8NeeeU%2F4Qyq51vol%2FuCIYuexpDPEAi7EZdR9WAQXC8NWegIPLFHCcCD742wVjZ3BUKSUk15rFXpccQaKe4Vks5X1B3tULD4Es4q76uIHkFF9reheAbEPQY%2FMpR8u%2FvociWk3P7wxlmuqLnpj5iyWZ0IFoRlgdEsIptZHXpGXUN7UW8cC88di5dHmhFEBneAFAf9Gk5a1hR%2Buxo90x7IToU8isqmiJ0mSKqf4dPW3lPsK72ZMYiWZN9BwfTRmzjHkDkCKHVFfuS0OlFhEhs0OJK0MOhVceWlFOirog5oq21OcRK6htZ8dXFgN95aGQLReSgPKkPWiMDk4md8W4LihSmAZsiBxX0UtHR42DnFkulTcQkSDSG0m7QbO0%2BSpcF8kGAH8S0d%2FEQ5LbVh1%2F3BbipfSAXi7CFGRQ%3D%3D"></iframe>
  </article>
</section>
